*.rbc
*.sassc
*.so
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/cache/*
/tmp/sessions/*
/tmp/pids/server.pid
/db/*.sqlite3
filter.sql
/public/system/*
/public/assets/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html

.DS_Store
*.swo
*.swp
secret_token.rb
production.sqlite3.bk
