<div class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
		  <%= link_to root_path, :class => "brand nav-logo" do %><div class="omegreplogo"></div><% end %>
			<ul class="nav">
				<li class="divider-vertical"></li>    
				<li><a href="#">Top</a></li>  
				<li class="divider-vertical"></li>    
				<li><%= link_to "Random", root_url %></li>
				<li class="divider-vertical"></li>    

				<form <%= root_path %> class="navbar-search pull-left" method="get">
					<%= text_field_tag :search, params[:search], :class => "search-query span4", :placeholder => params[:search] || "Search Omegle Logs" %>
					<%# input type="text" class="search-query span4" placeholder="Search Omegle Logs"%>
				</form>

			</ul>
			<ul class="nav pull-right">
				<li><a class="info-button"><i class="icon-question-sign icon-white"></i></a></li>
			</ul>
		</div>
	</div>
</div>
