<div class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand nav-logo" href="#"><div class="omegreplogo"></div></a>
			<ul class="nav">
				<li class="divider-vertical"></li>    
				<li><a href="#">Top</a></li>  
				<li class="divider-vertical"></li>    
				<li><a href="#">Random</a></li>
				<li class="divider-vertical"></li>    

				<form class="navbar-search pull-left">
					<input type="text" class="search-query span4" placeholder="Search Omegle Logs">
				</form>

			</ul>
			<ul class="nav pull-right">
				<li><a class="info-button"><i class="icon-question-sign icon-white"></i></a></li>
			</ul>
		</div>
	</div>
</div>
