<div class="span6 img-polaroid image-container results-container">
	<div class="image-controls">
		<%= render :partial => "vote",
			:locals => {:log => log, :type => "up", :extra_class => "search-vote"} %>
		<%= render :partial => "vote",
			:locals => {:log => log, :type => "down", :extra_class => "search-vote"} %>
		<div class="other-controls">
			<a class="top-of-chat">Top of chat</a>
			<span class="bullet">&#8226;</span>
			<a class="direct-link" data-content="<input type='text' value='<%= log.public_url %>'>" data-placement="bottom">Direct Link</a> 
			<span class="bullet">&#8226;</span>
			<i class="icon-flag flag-chat"></i>
		</div>
	</div>
	<div class="image-padding">
		<img src="<%= log.url %>" width="500px" alt=""/>
	</div>
</div>
