<div class="wrapper">
	<%= render "shared/navbar" %>
	<div class="container">
		<div class="instructions">
			<span>Use <i class="icon-arrow-up"></i> and <i class="icon-arrow-down"></i> to navigate chats.</span>
		</div>
		<hr class="results-divider"> <%# note that results-divider is different from item-divider %>
		<ul class="results-container">
			<%= render @logs %>
		</ul>
	</div>
	<div class="push"></div>
	<%= render "shared/footer" %>
</div>
