<% if !defined? @top_page
	@top_page = false
end %>

<% content_for :title do %>
	<% if @top_page %>
		Find Funny Omegle Conversations on Omegrep
	<% else %>
		Find Funny Omegle Conversations | Random
	<% end %>
<% end %>

<div class="wrapper">
	<%= render "shared/navbar" %>
	<% if @top_page %>
		<div id="top-page"></div>
	<% else %>
		<div id="random-page"></div>
	<% end %>
	<div class="container">
		<% if @logs.length > 1 %>
			<div class="instructions">
				<span>Use <strong>'N'</strong> and <strong>'M'</strong> to navigate chats.</span>
			</div>
			<hr class="results-divider"> <%# note that results-divider is different from item-divider %>
		<% end %>
		<ul class="results-container" <%=raw 'id="solo-page"' if @logs.length <= 1 %> >
			<%= render @logs %>
		</ul>
	</div>
	<div class="push"></div>
	<%= render "shared/footer" %>
</div>
