<% content_for :title do %>
	<% if @page == :top %>
		Funny Omegle Conversations on Omegrep | Top Chats
	<% else %>
		Funny Omegle Conversations on Omegrep | Random Chats
	<% end %>
<% end %>

<% single = @logs.length == 1 %>

<div class="wrapper">
	<%= render "shared/navbar" %>
	<% if @page == :top %>
	    <div id="top-page"></div>
	<% elsif single %>
	    <div id="single-page"></div>
	<% else %>
	    <div id="random-page"></div>
	<% end %>
	<div class="container">
		<% unless single %>
			<div class="instructions">
				<span>Use <strong>N</strong> and <strong>M</strong> to navigate chats.</span>
			</div>
			<hr class="results-divider"> <%# note that results-divider is different from item-divider %>
		<% end %>
		<ul class="results-container" <%=raw 'id="solo-page"' if single %> >
			<%= render @logs %>
			<% unless single %>
				<div class="loading-message results" style="display: none">
					<span>Loading more chats</span>
					<hr>
				</div>
			<% end %>
		</ul>
	</div>
	<div class="push"></div>
	<%= render "shared/footer" %>
</div>
